<div class="view overview">
  <ul>
    <li ng-repeat="item in items" style="width:6.66%; list-style: none; display: inline-block;"><img ng-src="{{item.thumbnail}}" title="{{item.fileName}}" width="100%;"/></li>
  </ul>
  <ul class="team">
    <li style="background-image: url({{items[4].thumbnail}});"><a ui-sref="keitumetse">Keitumetse</a></li>
    <li style="background-image: url({{items[7].thumbnail}});"><a ui-sref="manoj">Manoj</a></li>
    <li style="background-image: url({{items[9].thumbnail}});"><a ui-sref="yauvan">Yauvan</a></li>
  </ul>
</div>
