//colors
$darkGrey: #1E2327;
$midGrey: #393D40;
$lightGrey: #F0EFEF;
$lightGreen: #37B298;
$menuItemTextColor: #1B2224;

$activeTextColor: #fff;
$textColor: #fff;

$sidePanelWidth: 200px;
$topBarHeight: 60px;
$overviewHeight: 118px;

.top-bar {
  position: fixed;
  background-color: $darkGrey;
  color: $textColor;
  height: $topBarHeight;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  span {
    padding-left: 20px;
  }
  .search {
    margin-right: 50px;
    height: 25px;
  }
  .rounded {
    border-radius: 20px;
  }
}
.side-panel {
  position: fixed;
  background-color: $midGrey;
  width: $sidePanelWidth;
  min-height: 100%;
  margin-top: 60px;
  .upload {
    background-color: $lightGreen;
    padding: 20px;
    .dashed-border {
      border: 2px dashed #fff;
      padding: 15px;
      span {
        color: $textColor;
        padding-left: 55px;
      }
    }
  }
  .main {
    padding: 20px;
    .main-item {
      color: $menuItemTextColor;
      padding-top: 10px;
      padding-bottom: 10px;
      &.active {
        color: $activeTextColor;
        position: relative;
      }
      i {
        margin-right: 10px;
      }
    }
  }
  .filter {
    padding: 20px;
    .filter-item {
      color: $menuItemTextColor;
      padding-top: 10px;
      padding-bottom: 10px;
      i {
        margin-right: 10px;
      }
    }
  }
  .progressbar {
    padding-left: 20px;
    padding-top: 90px;
    padding-bottom: 10px;
    color: $textColor;
    font-size: 10px;
  }
}
.content-panel {
  position: absolute;
  margin-left: $sidePanelWidth;
  margin-top: 60px;
  //background-color: $lightGrey;
  .overview {
    height: $overviewHeight;
    //border: 2px solid red;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    .overview-heading {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
  .images {
    //border: 2px solid green;
    background-color: #fff;
    padding: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    .image-items {
      margin: 10px;
      flex: 1;
      min-width: 17%;
    }
    :hover {
        background-color: $lightGrey;
    }
  }
}
.file {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 14px;
}
.uploaded {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
}
.audioMargin {
  margin-right: 60px;
}
.right-margin {
  margin-right: 15px;
}
.selected-items {
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
}
.overview-right {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
}
.hrLine {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width:600px) {
  .content-panel {
    .images {
      display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
      .image-items {
        flex: 1;
      }
      :hover {
          background-color: $lightGrey;
      }
    }
  }
}
