//colors
$midGray: #1e2327;
$white: #FFFFFF;
$gray: #778899;
$blue: #20B2AA;
$lightgray : #DCDCDC;
//layout
$topbarheight: "60px";

//mixin
@mixin border-radius($radius){
  border-radius : $radius;
}
//styles
.keitu {
  width:100%;
  height:100%;
  .top {
    position: fixed;
    top:0;
    z-index:999;
    background-color : $midGray;   //#2F4F4F
    width : 100%;
    height: $topbarheight;
    color: $white;
    font-family : Open Sans;
    font-size : 15px;
    .toolbar{
        width: 50px;
        top:10px;
        right: 0px;
        position: absolute;
        padding: 20px;
        height: 17px;
        text-transform: uppercase;



        span.search {
          position: relative;
          input{
            @include border-radius(15px);
            min-width: 100px;
            height: 20px;
            padding: 5px 35px 5px 12px;
          //  border-radius: 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:focus {
              min-width: 300px;
            }
          }
          button {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 5px;
            border: none;
            background: transparent;
            i {
              color: #999;
              font-size: 15px;
              line-height: 20px;
            }
          }
          :focus {
              outline-color: transparent;
              outline-style: none;
          }
        }

      }

  }

.bottom {
    margin-top:60px;
    z-index:0;
    width:100%;
    height: 100%;
    display: block;
    .side {
      z-index:99;
      background-color : $midGray;
      width : 200px;
      height: 100%;
      position: fixed;
      color: $gray;
      .upload-box {
        background-color : $blue;
        padding: 25px;
        span {
          display: block;
          border : 2px dashed $white;
          height :30px;
          line-height:30px;
          text-align:center;
          color: $white;
          i {
            font-style:normal;
          }
        }
      }
      .menu{
        .menu-item{
          padding: 3px;
          margin : 15px;
          font-size : 11px;
          &.active{
            color : $white;
          }
          &.category{
            font-size : 100%;
            margin : 5px;
          }
        }
      }
      .memorySize{
        font-size: 12px;
        color: white;
      }
    } /*end of side*/
    .content-container {
       margin-left : 200px;
       padding:50px;
       .overview {
           font-weight : bold;
           margin-top: 1px;
           top : 10px;
       }
       .headingIcons {
           color: $gray;
           display :inline-block;
           margin-top: 20px;
           .text{
             color: $midGray;
             display : inline-block;
             //margin-left : 250px;
           }
        }

        .headingRight {
             padding: 20px;
             display: inline-block;
             right: 20px;
             margin-right : 15px;
             position: absolute;
             font-size : 14px;
            .sort {
                margin :0;
                padding:0;
                list-style : none;
                display :block;
                float: right;
                li {
                  display : inline-block;
                  &.uploaded{
                    background-color: $blue;
                  }
                }
              }
          }
         .myLine {
           width: 100%;
           border-bottom: 2px solid $lightgray;
         }
         .items {
           display : flex;
           flex-direction: row;
           flex-wrap: wrap;

           .item {
             margin: 10px;
             display: inline-block;
             flex :1;
             min-width: 16%;
             img{
               width: 100%;
             }

           }
         }
       } /*content*/
    } /*bottom*/

    @mixin display-type($display){
      display : $display;
    }


        /* iPads (portrait and landscape) ----------- */
    @media only screen and (max-device-width : 1024px) {
     /* Styles */

     /*.keitu{
       .bottom{
         .content-container{
           display: inline-block;
           background-color: #FFC0CB;
         }
       }
     }
     */

     .keitu{
       .bottom{
         .content-container{
           .items{
             .item{
               .filename{
               @include display-type(flex);

                 font-size : 2em;
                // display : flex;
                 direction : row;
               }
             }
           }
         }
       }
     }
    }

      /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        /* Styles */


        .keitu{
          .bottom{
            .content-container{
              .items{
                .item{
                  .filename{
                    font-size : 2em;
                    display : flex;
                    direction : column;
                  }
                }
              }
            }
          }
        }
      }


      /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        /* Styles */
      }


      /* ----------- Non-Retina Screens ----------- */
     @media screen  and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
     }


  } /*keitu*/
