<div class="view yauvanView">

  <div class="topToolBar">
      <a class="keepFont">keep<a>

              <a class="rightAlign">

                <input placeholder="Search"> </input><i class="fa fa-search"></i>

              </a>

  </div>

  <div class="sideBar" id="sideBar">
      <div class="topBox">
        <div class="dashed-border">
            <span><i class="fa fa-upload"></i></span>
        </div>

      </div>

      <div id="mainMenu" class="sideBarMenu">
          <p>MAIN</p>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Overview</i>
          </br>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Activity</i>
          </br>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Dearest</i>
          </br>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Folders</i>
          </br>

      </div>

      <div id="filterMenu" class="sideBarMenu">
          <p>FILTER</p>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Images</i>
        </br>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Audio</i>
        </br>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Video</i>
        </br>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Notes</i>
        </br>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Links</i>
        </br>
          <i class="fa fa-check-circle-o">&nbsp;&nbsp;Files</i>
        </br>

      </div>

  </div>

  <div class="content" id="content">

    <ul style="margin: auto; padding: 100px; width:50%; text-align:center; list-style: none; font-size: 50px; line-height:150px; color: #E4E9EB;">
      <li style="color: #1B2224; border-bottom: 2px solid #1B2224;">UI Chalenge - Keep</li>
      <li>Yauvan</li>
    </ul>

  </div>


</div>
