<div class="view" style="background: #232B2D; height: 100%;">

  <ul class="topToolBar">

  </ul>

  <div class="sideBar" id="sideBar">
      <div class="topBox">
        TopBox
      </div>

  </div>

  <div class="content" id="content">

    <ul style="margin: auto; padding: 100px; width:50%; text-align:center; list-style: none; font-size: 50px; line-height:150px; color: #E4E9EB;">
      <li style="color: #1B2224; border-bottom: 2px solid #1B2224;">UI Chalenge - Keep</li>
      <li>Yauvan</li>
    </ul>

  </div>


</div>
