.yauvanView {
  background: #232B2D;
  height: 100%; }

.sideBar {
  width: 200px;
  height: 100%;
  position: absolute;
  background-color: #fff; }
  .sideBar .topBox {
    width: 200px;
    height: 100px;
    position: absolute;
    background-color: #FABF0C; }

.content {
  width: 800px;
  height: 100%; }

.topToolBar {
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  background-color: #000; }

html, body, .view-container {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }
